@model TripAdvisor.Models.Country

@{
    ViewData["Title"] = "Create New Country";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Country</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Country</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDesription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortDesription" class="form-control" />
                <span asp-validation-for="ShortDesription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AttitudeForJews" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AttitudeForJews" class="form-control">

                </select>
                <span asp-validation-for="AttitudeForJews" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CommonReligion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CommonReligion" class="form-control"></select>
                <span asp-validation-for="CommonReligion" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Continent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Continent" class="form-control"></select>
                <span asp-validation-for="Continent" class="text-danger" />
            </div>
        </div>
       
        <div class="form-group">
            <label asp-for="ImageSrc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ImageSrc" class="form-control" />
                <span asp-validation-for="ImageSrc" class="text-danger" />
            </div>
        </div>
       
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
