@{
    ViewData["Title"] = "About Hizki";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"] = "Hizki is a Tour guide who works for "Eretz Nehederet". </h3>


    <br /> <br />

    <video width="320" height="240" autoplay class="aboutHizki" controls="controls">
        <source src="~/hizki_video.mp4" type="video/mp4">
    </video>


